.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
}

.btn-mulai:hover {
    background-color:#598392;
}

.btn-create {
    background-color: #598392;
    color: white;
}

.date {
    background-color: #598392;
    height: 100%;
}

.title {
    margin-top: 100%;
}

.card:hover {
    background-color: #598392;
    transition: 1s;
}

img {
    cursor: pointer;
}

.bg-list {
    background-color: #598392;
}

.active {
    background-color: white;
}